<?xml version="1.0" encoding="utf-8"?>

<log4net>
    <!-- <appender name="JsonFileLogger" type="log4net.Appender.FileAppender,log4net">
        <file value="/Users/erdemsavar/Desktop/Log/log.json" />
        <layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core">
        </layout>
    </appender> -->
    <appender name="JsonFileLogger" type="log4net.Appender.RollingFileAppender">
        <file value="App_Data/Logs/log.txt" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <appendToFile value="true" />
        <datePattern value="'-'yyyyMMdd" />
        <staticLogFileName value="false" />
        <rollingStyle value="Date" />
        <preserveLogFileNameExtension value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5level %date [%-5.5thread] %-40.40logger - %message%newline" />
        </layout>
    </appender>
    <appender name="DatabaseLogger" type="log4net.Appender.AdoNetAppender">
        <bufferSize value="1" />
        <connectionType value="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient, Version=1.0.0.0,Culture=neutral,PublicKeyToken=23ec7fc2d6eaa4a5"/>
        <!-- <connectionString value="Server=localhost,1433; Integrated Security=False; Database=Northwind; MultipleActiveResultSets=true; User ID=sa; Password=reallyStrongPwd123;" /> -->
        <connectionString value="Server=northwindsqldb; Integrated Security=False; Database=Northwind; MultipleActiveResultSets=true; User ID=sa; Password=reallyStrongPwd123;" />
        <commandText value="INSERT INTO Logs (Detail,Date,Audit) VALUES (@logDetail,@log_date,@audit)" />
        <commandType value="Text" />
        <parameter>
            <parameterName value="@logDetail" />
            <dbType value="String" />
            <size value="4000" />
            <layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" />
        </parameter>
        <parameter>
            <parameterName value="@log_date" />
            <dbType value="DateTime" />
            <layout type="log4net.Layout.RawTimeStampLayout"/>
            <!-- <layout type="log4net.Layout.RawTimeStampLayout" /> -->
            <!--value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}"-->
        </parameter>
        <parameter>
            <parameterName value="@audit" />
            <dbType value="String" />
            <size value="100" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%level" />
            </layout>
        </parameter>
    </appender>
    <!--    <root>
            <level value="DEBUG" />
           <appender-ref ref="JsonFileLogger" />
           <appender-ref ref="DatabaseLogger"  Calismiyor/>
        </root>-->
    <logger name="JsonFileLogger">
        <level value="ALL"></level>
        <appender-ref ref="JsonFileLogger" />
    </logger>

    <logger name="DatabaseLogger">
        <level value="ALL"></level>
        <appender-ref ref="DatabaseLogger" />
    </logger>

</log4net>
